<article>
<h1 id="text2"><strong>Real Stories</strong></h1>

<div class="scrollbox" id="text">

<h3 id="text2"><i>"You’re not going to beat stigmas surrounding depression without first beating your OWN prejudices."</i></h3>
<h4 id="text2">'J'</h4>
<h5 id="text2">Essex</h5>

The world is, unfortunately, not an entirely ideal place.

<br><br>There, I said it! The cold, harsh truth. We’re still evolving as a civilisation. We’ve come astonishingly far in the last few thousand-or-so years.

<br><br>In the grand scheme of things the 200,000 years of mankind before that were pretty lame in comparison.

<br><br>But after all that, in the year 2017, unfortunately a lot of people still think that mental health issues like depression are completely taboo and should be swept under the rug. Cheers.

<br><br>That is an age-old stigma right there. In our parents day, their healthcare was sh*t, mental awareness was non-existent, and the only alternative was to shut people suffering in the cupboard under the stairs.

<br><br>But not all older people mother-hubbard. That is a prejudice in itself, and I want to count down the all-time top prejudices I encountered in my own experience with mental health in the last two years of recovering from depression.

<br><br>So up first:

<h3 id="text2"><i>‘The mind isn’t a physical thing that can get an illness.’</i></h3>
The notion that Mental health ‘isn’t a thing’, that has a deep grey scale between good and bad, seems to be a common misconception, one that I used to perceive, especially.

<br><br>I understand now that there are in fact lots of people at any part of the wide, sliding scale. A useful realisation that lends itself to mindfulness of your own wellbeing, and others around you.

<br><br>The mind is indeed - as intangible as it is - something you want to look after and keep healthy. After all, what good is the perfect physique and limitless wealth without any happiness? 

<h3 id="text2"><i>‘Help is for losers.’</i></h3>
Admitting you’ve got a problem is the start.

<br><br>It happens to the best of us, a lot of our comedians get it, bigtime. It’s just balance.

<br><br>Don’t you dare ever walk out on a Counsellor during your Counselling session. That’s complete bullsh*t and you’re only mugging yourself off. They’re amazing professionals and they know what they’re doing, even if you don’t.

<br><br>I may sound harsh here, but I say it from a place of caring experience.

<h3 id="text2"><i>‘My friends have all but abandoned me!’</i></h3>
Your ‘so-called friends’ are suddenly nowhere to be seen!

<br><br>Word has gotten out that you’re seeking professional help and suddenly you’re being treated like you're a Leper.

<br><br>‘Why won’t anyone reach out to me?’ NOPE. Part of your depression will probably have caused you to back out of socialising, so your absence is hardly sudden.

<br><br>And if word that you are seeking help HAS got out, people know you’re getting yourself sorted out. Your friends won’t want to interfere with this, the onus is actually on you to reach out to them, for help or just to chill out.

<br><br>Simply put: it’s down to you to establish with your friends which capacity you want to gradually re-introduce yourself as. It’s not for them to all decide between them who is closest to you to go and try to help you, and who isn’t actually that big a deal to you in your friendship circle to leave you alone.

<br><br>It’s down to you to reach out first, trust me. And they’re always there again no matter how long you leave it.

<h3 id="text2"><i>‘Is it just me, or..?’</i></h3>
I’ve chosen to put this one last, not because of its unimportance, but quite the opposite. Simply put: I wish I could have recognised what had already started happening to me and acted on it sooner.

<br><br>A few years earlier and I would have saved myself a lot of time recovering, two years recovery no less.

<br><br>It is crucial that you identify the, admittedly, well established tell-tale signs of depression.

<br><br>Check in with yourself, or anyone you know, exhibiting excessive tiredness, loss of appetite, sudden disinterest in previous passions, a lack of concentration. It can and DOES happen to anyone. 

<br><br>So if I help at least one person bust any misconceptions that can sometimes get in the way, then I’ve done my bit. 

<br><br>Cheers.

<br><br>J.

</div>

<div class="scrollbox" id="text">

<h3 id="text2"><i>"Halfway There"</i></h3>
<h4 id="text2">Barry Faith</h4>
<h5 id="text2">London</h5>

<br>On the face of it, I am your normal, every-day guy. I went to a good school, I have a good group of

friends - the majority of which I have known for most of my life - I have a good job, I own my own flat, I like to

think I am a nice person, I have good relationships with people and I like to go out and have fun.<br><br>


I shouldn’t have anything to worry about and there should be nothing wrong with me.<br><br>



About 2 years ago, I was going through a rough time at work. I was not given a promotion I thought I

deserved, so I was angry and decided to say F it - I started going out more and more as a

reaction to my frustration.

<br><br>As a result I was dedicating less time to my long term partner. She

started to turn on me and we would argue more and more.

<br><br>As a result of that I continued to drink

more and more until slowly I started taking Class A drugs, predominantly cocaine.

<br><br>After 9 months, my performance in my job had dipped and I was no longer with my partner. She

blamed me for our break up.

<br><br>For a long time I didn’t think anything of it and I thought I was fine,

I could deal with my situation - even though I was not doing the best I could at work, I was still

performing to the required level and no one bothered me, I could get away with this.

<br><br>Soon enough, what had started as heavy weekends soon spilled into the week and I would find myself going out until 3 or

4am, having a quick sleep, a change of clothes and then back to work to do it all over again.

<br><br>I didn't ever want to stop drinking or taking drugs, so I would challenge myself and see how long I could keep

drinking, how many drugs I could take before I would pass out.

<br><br>This was nothing unusual for someone who had come out of a long term relationship, everyone

needs a blow out, surely?

<br><br>But behind the drinking and the drug taking, mentally I was a mess. A mention of my ex-partner’s name

would send me into fits of tears, anger, loneliness, depression, anxiety and guilt.

<br<br>HI had started to socialise with a new group of friends who took me 'under their wing' during this

difficult period in my life. It felt good to have a group of people who understood me and could offer

me advice. We would go out together, drink and do drugs.

<br<br>HDuring this time I also met someone and the relationship turned toxic; we would go out, be together

and then she would end the relationship abruptly. This cycle would repeat itself every few weeks and the constant

push and pull of this confused me. She would blame my behaviour for acting the way she did.

<br><br>I then hit the lowest point in my life. The new relationship had ended, my best friends did not

want me in their lives and I was the one to blame because of my behaviour.

<br<br>HI had reached the point where I had to make a decision; I could continue down the same road I was

heading down, or I could try to sort myself out.

<br<br>HIt was at this point I decided to seek help and therapy. It wasn’t

easy asking for help. I had gone my whole life thinking I was ok, I went through some hard times

growing up, and didn't think it warranted speaking to a therapist. However, I had now got to the point where I felt I had no

choice.


<br><br>I will always remember my first call to the therapist hotline, a number I had found through work.

<br><br>Having to give reasons as to why you are calling: “uh, I went through a bad break up and I have been

drinking too much and now I am really low and I need some help”.

<br><br>I felt embarrassed because there are people in the world with “actual problems”. But the person on the other end of the phone was

patient and empathetic, arranging for me to speak to someoneover the phone, then later a face to face session with a therapist.

<br><br>It was a really easy process.

<br><br>When I started my first session, I was hesitant, I explained the reasons why I was there and

everything I was going through, then came out of it wonderince how is this was going to help.

<br><br>But as I continued to go to each session, I was talking about things in my past which seemed in no way related to

my present at the time. But the more I talked, the more I realised I was experiencing the same emotions I

had when I was 14 or 15.


<br><br>For me, I avoid confrontation, when I am faced with an argument, I would prefer to bottle up my

emotions, accept that I am wrong and the other person is right. I will blame myself for creating

the situation. I am always in the wrong.

<br><br>Easy to think “just grow a pair”, but when you have thought like this all your life, it's hard to change it.

<br><br>With the blame, comes guilt, this feeling that you're not good enough for the other person, which is then normally followed by loneliness.

<br><br>These emotions consumed me and I would bottle them up until they would explode in a self-

destructive nature.

<br><br>This manifested itself in me saying F It and F You to everyone. I would upset people

and in turn I would be blame myself more, because it would be out of my character to upset people,

meaning all the feelings of guilt and anxiety and everything would just compound on me.

<br><br>This seems fairly obvious for most people but it took its toll on me, and as I continued therapy I was

able to talk about recent experiences, and for the first time in my life relate it back to previous

experiences in my life.

<br><br>This was like an epiphany, I was telling someone my deepest and darkest fears, and deconstructing my feelings, breaking them down one by one until eventually I started to feel better.

<br><br>By addressing these ongoing issues which I had previously not known to be ongoing issues, I was able to take

a step back and look at things with open eyes.

<br><br>I blamed myself for all the broken relationships in my life and I started to realise everything was not my fault, I shouldn’t have to carry all the blame, because in every relationship there is always 2 people involved.

<br><br>I am not saying I was not to blame but by talking about my feelings and emotions, I was able to relieve some of the guilt I had been carrying. I could not have done this without therapy.

<br><br>I have been doing therapy for 2 months and I feel that it has really helped; I didn’t talk about my

feelings because I didn’t think anyone would care or listen, but by telling people what I have been

going through has really changed my life.

<br><br>I feel that people listen, want to listen and offer

support - that is truly amazing.

<br><br>I talk to as many people who want to listen, and through talking to

people, I now know I am not the only one going through it.


<br><br>Some of my closest friends have

considered therapy but have not followed through with it, people I would never have thought of needing it have had it, even do it on a

regular basis, people in a pub toilet over hear my conversation and give advice.

<br><br>Talking about it

has made it clear to see that it is everywhere and anywhere you go.


<br><br>Therapy seems to be this underground cult, everyone knows about it but doesn’t want to admit they

are a part of it.

<br><br>In the very short space of time I have been attending therapy I feel better. I don’t feel amazing or

cured, I feel better.

<br><br>My drinking hasn’t stopped but my drug taking has.

<br><br>I accept some of the relationships in my life have been ruined as a result of my actions, but I now

believe I was not the sole person to blame - To say that aloud is a huge step in the right direction for me.

<br><br>2 months ago, I didn't even know I had to say that to make me feel better about myself.

<br><br>I would never say to anyone you should have therapy, I can only explain my own experiences and

the impact it has had on me.

<br><br>What I would say is that if you ask for help and you are struggling

mentally, I do not think you will have to look far to find someone who has gone through something

similar to you.

<br><br>I am 2 months into a journey with no end destination, so wish me luck! If you are reading this, I hope

this helps in some way, and hopefully one day you can share your experiences with someone who

wants to talk.

<br><br>Cheers,

<br><br>Barry Faith, London

</div>



</article>