<article>
<h1 id="text2"><strong>All the reviews you can shake a shovel at!</strong></h1>

<a><h3 id="text">Abzu - Coming Soon!</h3></a>

<a><h3 id="text">Broforce - Coming Soon!</h3></a>

<a><h3 id="text">Hotline Miami - Coming Soon!</h3></a>

<a><h3 id="text">Hotline Miami 2: Wrong Number - Coming Soon!</h3></a>

<a><h3 id="text">Invisible inc - Coming Soon!</h3></a>

<a href="reviews/motherrussiableeds"><h3 id ="text"><span class="{{lockicon}}" aria="true"></span>Mother Russia Bleeds</h3></a>

<a href="reviews/octodad"><h3 id ="text"><span class="{{lockicon}}" aria="true"></span>Octodad</h3></a>

<a href="reviews/overcooked"><h3 id ="text"><span class="{{lockicon}}" aria="true"></span>Overcooked</h3></a>

<a><h3 id="text">Shovel Knight - Coming Soon!</h3></a>

<a><h3 id="text">Super Meatboy - Coming Soon!</h3></a>
</article>